#img-we{
	height: 100px;
	background-color: gray;
}
#we #we-div{
	width: 100%;
	
	border-bottom: 20px solid #106FB5;
}



#we #we-div .weclass{
	text-align: justify;
	width: 40%;
	margin: 1em 0px;
	padding: 0em 3.3em 0em 3em;
	color: gray;
	vertical-align: top;
	border-right:1px dashed black;
}


#we #we-div .weclass, #we #we-div .weclass1{
	display: inline-block;

}

#we #we-div .weclass:nth-child(2){
	border-right: 0px dashed black;
}