<div class="title-view">
	<h1>Welcome to Ofra's DashBoard</h1>
</div>

<section class="back-main">	
	<h3>Choose an option	</h3>
	<div class="bar-back"></div>
	<article class="back-action">
		<label for="">Go to principal Page</label><br>
		<a href="Inicio" class="icon-home"></a>
		<div class="title-back">Home</div>
	</article>
	<article class="back-action">
		<label for="">Manage </label><br>
		<a href="#/Users" class="icon-user"></a>
		<div class="title-back">User Management</div>
	</article>
	<article class="back-action">
		<label for="">Work Team Management</label><br>
		<a href="#/Team" class="icon-group"></a>
		<div class="title-back">Work Team</div>
	</article>
	<article class="back-action">
		<label for="">Know Us</label><br>
		<a href="" class="icon-list"></a>
		<div class="title-back">About Us</div>
	</article>

</section>


